<h1><%= @user.email %></h1>

<h2>Movies</h2>

	<% @videos.each do |video| %>
		<%if video.user == @user%>
			<td><%= link_to video.title, video %></td><br>
		<%end %>
	<%end %>
<br><br>

<h2>Last 10 comments</h2>
<% @comments.reverse.first(10).each do |comment| %>
	<%if comment.user == @user%>
		<td><%= @user.email %> commented "<%= comment.message %>" on the movie <%= link_to comment.video.title, comment.video %> </td><br>
	<%end %>
<%end %>
<br><br>

<h2>Favorites</h2>
<% @user.favorites.reverse.each do |video| %>
	<td><%= link_to video.title, video %></td><br>
	<%end %>
<br><br>



<% if @user == current_user %>
	<%= link_to "Edit User", edit_user_registration_path, :class => 'btn btn-default' %>
<% end %>
