<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @video.category %>
</p>


<video src=<%= stream_path(@video) %> controls width = 500></video>

<div>
    Comments
    <%= render 'comments/form', :locals => {:video => @video}%>
</div>

<% @video.comments.each do |comment| %>
<b><%= comment.user.email %></b><br>
  <%= comment.message %><br><br>
<%end %>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
