  <% cache do %>

  <div class="title">
    <%= @video.title %>
  </div>

  <p><strong><%= link_to @video.user.email, @video.user %></strong></p>

  <div class="video-js-box">
    <video class="video-js vjs-default-skin vjs-big-play-centered"
    controls preload="auto" width="640" height="360"
    poster="http://video-js.zencoder.com/oceans-clip.png"
    data-setup='{"example_option":true}'>
      <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>

<br>
<%if @video.user == current_user%>
  <td><%= link_to 'Edit', edit_video_path(@video), :class => "btn btn-default" %></td>
<%end%>
<% end %> <!-- cache end -->
<% if current_user %>
  <% if current_user.favorites.include?(@video) %>
    <%= link_to 'Unfavorite', favorite_video_path(@video, type: "unfavorite"), method: :put, :class => "btn btn-warning" %>
  <% else %>
    <%= link_to 'Favorite',   favorite_video_path(@video, type: "favorite"), method: :put, :class => "btn btn-warning" %>
  <% end %>
<% end %>

<div>
    <% if current_user %>
    <%= render 'comments/form', :locals => {:video => @video}%>
    <% else %>
    <h3>Log in to comment.</h3>
    <% end %>
</div>

<% @comments.each do |comment| %>

  <% delta = Time.now - comment.created_at 
     mm, ss = delta.divmod(60)
     hh, mm = mm.divmod(60)
     dd, hh = hh.divmod(24)

     minute = 60
     hour = 60 * minute
     day = 24 * hour
     month = day * 30.4368499
     year = month * 12

     if (delta < minute)
      s = "just now"
     elsif (delta < 2 * minute)
      s = "a minute ago"
     elsif (delta < 60 * minute)
      s = "%d minutes ago" % [mm]
     elsif (delta < 2 * hour)
      s = "an hour ago"
     elsif (delta < 24 * hour)
      s = "%d hours ago" % [hh]
     elsif (delta < 48 * hour)
      s = "yesterday"
     elsif (delta < month)
      s = "%d days ago"
     elsif (delta < 12 * month)
      if (month > 1)
        s = "%d months ago" % months
      else
        s = "a month ago"
      end
     else
      if (year > 1)
        s = "%d years ago" % year
      else
        s = "one year ago"
      end
     end
  %>

  <b><%= link_to comment.user.email, comment.user %> <%= s %></b><br>
    <%= comment.message %><br><br>
  <% end %>

  <%= will_paginate @comments %>

