<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @video.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @video.category %>
</p>


<video src=<%= stream_path(@video) %> controls width = 500></video>

<div>
    <%= render 'comments/form', :locals => {:video => @video}%>
</div>

<% @video.comments.reverse.each do |comment| %>
<b><%= comment.user.email %></b><br>
  <%= comment.message %><br><br>
<%end %>
