

<p>
  <strong>User:</strong>
  <%= @video.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @video.category %>
</p>

<video src=<%= stream_path(@video) %> controls width = 500></video>
<br>
<%if @video.user == current_user%>
  <td><%= link_to 'Edit', edit_video_path(@video) %></td>
  <td><%= link_to 'Destroy', @video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%end%>

<% if current_user %>
  <% if current_user.favorites.include?(@video) %>
    <%= link_to 'Unfavorite', favorite_video_path(@video, type: "unfavorite"), method: :put, :class => "btn btn-danger" %>
  <% else %>
    <%= link_to 'Favorite',   favorite_video_path(@video, type: "favorite"), method: :put, :class => "btn btn-warning" %>
  <% end %>
<% end %>

<div>
    <%= render 'comments/form', :locals => {:video => @video}%>
</div>

<% @video.comments.reverse.each do |comment| %>

  <% t = Time.now - comment.created_at 
     mm, ss = t.divmod(60)
     hh, mm = mm.divmod(60)
     dd, hh = hh.divmod(24)

     minute = 60
     hour = 60 * minute
     month = dd * 30
     year = month * 12

     if (t < minute)
      s = "%d seconds ago" % [ss]
     elsif (t < 2 * minute)
      s = "a minute ago"
     elsif (t < 60 * minute)
      s = "%d minutes ago" % [mm]
     elsif (t < 2 * hour)
      s = "an hour ago"
     elsif (t < 24 * hour)
      s = "%d hours ago" % [hh]
     elsif (t < 48 * hour)
      s = "yesterday"
     elsif (t < month)
      s = "%d days ago"
     elsif (t < 12 * month)
      if (month > 1)
        s = "%d months ago" % months
      else
        s = "a month ago"
      end
     else
      if (year > 1)
        s = "%d years ago" % year
      else
        s = "one year ago"
      end
     end
  %>

  <b><%= comment.user.email %> <%= s %></b><br>
    <%= comment.message %><br><br>
<%end %>
